services:
  db:
    image: postgres:18-alpine
    container_name: training_journal_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: devpassword
      POSTGRES_DB: training_journal
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: